.header_wrap_placeholder {
  height: 75px;
}
.header_wrap {
  z-index: 10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--color_border);
}
.header_wrap .header {
  width: 80vw;
  height: 72px;
}
.header_wrap .header .left_wrap.scrolled .name {
  color: white;
}
.header_wrap .header .left_wrap .logo {
  max-width: 40px;
  margin-left: -4px;
}
.header_wrap .header .left_wrap .name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
.header_wrap .header .search_wrap {
  left: calc(50% - 180px);
}
.header_wrap .header .search_wrap.scrolled .search .input {
  border: 1px solid white;
  color: white;
}
.header_wrap .header .search_wrap.scrolled .search .input::placeholder {
  color: rgba(255, 255, 255, 0.72);
}
.header_wrap .header .search_wrap .search {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: black;
}
.header_wrap .header .search_wrap .search .input {
  width: 360px;
  height: 40px;
  padding: 0 24px;
  box-sizing: border-box;
  border: none;
  outline: none;
  line-height: 40px;
  color: black;
  border-radius: 40px;
  background-color: transparent;
  text-align: center;
  border: 1px solid black;
  transition: all ease 0.3s;
}
.header_wrap .header .right_wrap.scrolled .d_line {
  background-color: rgba(241, 241, 241, 0.2);
}
.header_wrap .header .right_wrap.scrolled .options .option_item {
  background-color: rgba(248, 249, 253, 0.6);
}
.header_wrap .header .right_wrap.scrolled .link_items .link {
  background-color: rgba(248, 249, 253, 0.6);
}
.header_wrap .header .right_wrap .options {
  margin-right: 15px;
}
.header_wrap .header .right_wrap .options .option_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all ease 0.3s;
  background-color: white;
  cursor: pointer;
}
.header_wrap .header .right_wrap .d_line {
  width: 1px;
  height: 20px;
  background-color: var(--color_border);
}
.header_wrap .header .right_wrap .link_items {
  margin-left: 15px;
}
.header_wrap .header .right_wrap .link_items .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all ease 0.3s;
  background-color: white;
}
.header_wrap .header .right_wrap .link_items .link:hover {
  box-shadow: 0 0 30px #eee;
}
.header_wrap .header .right_wrap .link_items .link .logo_matrixage {
  max-width: 18px;
  border-radius: 4px;
}
