html,
body {
      padding: 0;
      margin: 0;
      color: black;
      font-size: 15px;
      background-color: whitesmoke;
}

button {
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      background-color: transparent;
}

.img_items {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
}

.img_items .img_item_wrap {
      width: calc(100vw / 8);
      box-sizing: border-box;
      overflow: hidden;
      transition: all ease 0.3s;
}

.img_item {
      width: 100%;
      height: calc(100vw / 8);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      transition: all ease 0.3s;
}

.img_items .img_item_wrap:hover {
      padding: 9px;
      color: white;
      background: linear-gradient(30deg, purple, orange);
      border-radius: 6px;
}

.img_items .img_item_wrap:hover .img_item {
      height: calc(100vw / 8 - 12px);
      border-radius: 6px;
}

.img_items .img_item_wrap:hover .options {
      margin-top: 6px;
}

.img_items .img_item_wrap .options {
      width: 100%;
      height: 36px;
      white-space: pre-wrap;
      font-size: 10px;
      overflow: hidden;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 6px;
}

.detail_wrap {
      bottom: 24px;
      right: 24px;
      z-index: 100;
      width: calc(100vw / 4);
      background: linear-gradient(-30deg, purple, orange);
      box-shadow: 0 0 30px #ddd;
      border-radius: 12px;
      overflow: hidden;
}

.detail_wrap .img_item {
      height: calc(100vw / 4);
}

.detail_wrap.contain {
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
}

.detail_wrap.contain .img_item {
      background-size: contain !important;
      height: 100%;
}

.detail_wrap.cover .img_item {
      background-size: cover !important;
}

.btn_close {
      top: 18px;
      right: 18px;
      padding: 1px;
      border-radius: 36px;
      cursor: pointer;
      transition: all ease 0.3s;
      border: 1px solid #eee;
      background-color: white;
}

.btn_close:hover {
      box-shadow: 0 0 30px #ccc;
}

.btn_close svg {
      width: 18px;
      height: 18px;
      opacity: 0.72;
}

.detail_options {
      bottom: 18px;
      left: 18px;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid #eee;
      overflow: hidden;
      transition: all ease 0.3s;
}

.detail_options:hover {
      box-shadow: 0 0 30px #ccc;
}


.detail_options button {
      width: 54px;
      padding: 5px 0;
      font-size: 12px;
      color: #888;
      cursor: pointer;
}

.detail_options button.active {
      background-color: black;
      color: white;
      border-radius: 100px;
}