.msg_wrap {
  bottom: 24px;
  right: 24px;
  height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 13px;
  line-height: 1;
  z-index: 10000;
}
