#app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
}

:root {
      --size_img: 16vw;
      --size_detail: 50vw;
      --color_bg: #f8f9fd;
}

.landing_wrap {
      opacity: 1;
}

.header_wrap_placeholder {
      height: 75px;
}

.header_wrap {
      z-index: 10;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-bottom: 1px solid #eee;
}

.header {
      width: 80vw;
      height: 72px;
}

.header .left_wrap .name {
      font-size: 30px;
      font-weight: bold;
      margin-left: 10px;
}

.header .left_wrap.scrolled .name{
      color: white;
}

.header .right_wrap .options {
      margin-right: 15px;
}

.header .d_line {
      width: 1px;
      height: 20px;
      background-color: #eee;
}

.header .right_wrap.scrolled .d_line {
      background-color: rgb(241, 241, 241, 0.2);
}

.header .right_wrap .options .option_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      transition: all ease 0.3s;
      background-color: white;
      cursor: pointer;
}

.header .right_wrap.scrolled .options .option_item {
      background-color: rgba(248, 249, 253, 0.6);
}

.header .right_wrap .link_items {
      margin-left: 15px;
}

.header .logo {
      max-width: 40px;
      margin-left: -4px;
}

.header .logo_matrixage {
      max-width: 18px;
      border-radius: 4px;
}

.header .right_wrap .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      transition: all ease 0.3s;
      background-color: white;
}

.header .right_wrap.scrolled .link {
      background-color: rgba(248, 249, 253, 0.6);
}

.header .right_wrap .link:hover {
      box-shadow: 0 0 30px #eee;
}

.search_wrap {
      left: calc(50% - 180px);
}

.search_wrap .search {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      color: black;
}

.search_wrap .search .input {
      width: 360px;
      height: 40px;
      padding: 0 24px;
      box-sizing: border-box;
      border: none;
      outline: none;
      line-height: 40px;
      color: black;
      border-radius: 40px;
      background-color: transparent;
      text-align: center;
      border: 1px solid black;
      transition: all ease 0.3s;
}

.search_wrap.scrolled .search .input {
      border: 1px solid white;
      color: white;
}

.search_wrap.scrolled .search .input::placeholder{
      color: rgba(255, 255, 255, 0.72);
}

.img_items {
      width: 80vw;
      padding: 12vh 0;
}

.img_items .img_item_wrap {
      width: var(--size_img);
      height: auto;
      box-sizing: border-box;
      overflow: hidden;
      transition: all ease 0.3s;
      background: linear-gradient(-30deg, black, whitesmoke);
}

.img_item {
      width: 100%;
      height: var(--size_img);
      box-sizing: border-box;
      overflow: hidden;
      cursor: pointer;
      transition: all ease 0.3s;
}

.img_items .img_item_wrap:hover .options,.img_items .img_item_wrap.mobile .options {
      transform: translateY(0);
}

.img_items .img_item_wrap .options {
      width: 100%;
      height: 36px;
      white-space: pre-wrap;
      font-size: 10px;
      overflow: hidden;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      color: white;
      transition: all ease 0.3s;
      transform: translateY(100%);
}

.detail_wrap {
      background-color: rgba(0, 0, 0, 0.72);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
}

.detail_wrap .detail {
      width: var(--size_detail);
      background: linear-gradient(-30deg, purple, orange);
      border-radius: 6px;
      overflow: hidden;
}

.detail_wrap .detail .img_item {
      height: var(--size_detail);
}

.detail_wrap .detail.contain .img_item {
      background-size: contain !important;
}

.detail_wrap .detail.cover .img_item {
      background-size: cover !important;
}

.btn_close {
      top: 18px;
      right: 18px;
      padding: 1px;
      border-radius: 36px;
      cursor: pointer;
      transition: all ease 0.3s;
      border: 1px solid #eee;
      background-color: white;
}

.btn_close:hover {
      box-shadow: 0 0 30px #ccc;
}

.btn_close svg {
      width: 18px;
      height: 18px;
      opacity: 0.72;
}

.detail_options {
      bottom: 18px;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid #eee;
      overflow: hidden;
      transition: all ease 0.3s;
}

.detail_options:hover {
      box-shadow: 0 0 30px #ccc;
}

.detail_options button {
      width: 54px;
      padding: 5px 0;
      font-size: 12px;
      cursor: pointer;
}

.detail_options button.active {
      background-color: black;
      color: white;
      border-radius: 100px;
}

.detail_options.style {
      left: 18px;
}

.detail_options.current {
      right: 18px;
}

.detail_options.current button:active {
      background-color: black;
      color: white;
}

.detail_options.current button:first-child {
      border-right: 1px solid #eee;
}

.detail_wrap .btn_download {
      bottom: 18px;
      right: 224px;
      width: 26px;
      height: 26px;
      border-radius: 100px;
      font-size: 12px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid #eee;
      color: black;
}

.detail_wrap .btn_download:active{
      background-color: black;
      color: white;
}

.detail_wrap .btn_download:hover {
      box-shadow: 0 0 30px #ccc;
}

.detail_wrap .btn_autoplay {
      bottom: 18px;
      right: 140px;
      width: 72px;
      padding: 5px 0;
      font-size: 12px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid #eee;
      border-radius: 100px;
}

.detail_wrap .btn_autoplay:hover {
      box-shadow: 0 0 30px #ccc;
}

.detail_wrap .btn_autoplay:active,
.detail_wrap .btn_autoplay.playing {
      background-color: black;
      color: white;
}

.pagination_wrap {
      bottom: 0;
}

.pagination_wrap .pagination {
      padding: 18px 24px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: rgba(248, 249, 253, 0.72);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      color: black;
}

.pagination_wrap .pagination .btn_option {
      padding: 9px 18px;
      border-radius: 4px;
      transition: all ease 0.3s;
      cursor: pointer;
      background-color: black;
      color: white;
      border: 1px solid transparent;
}

.pagination_wrap .pagination .btn_option:hover {
      background-color: transparent;
      color: black;
      border: 1px solid black;
}

.pagination_wrap .pagination .btn_option:disabled {
      opacity: 0.1;
}

.pagination_wrap .pagination .tabbar_items {
      margin: 0 12px;
}

.pagination_wrap .pagination .tabbar_items .tabbar_item {
      width: 36px;
      height: 36px;
      margin: 0 4px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.05);
      transition: all ease 0.3s;
      cursor: pointer;
      font-size: 15px;
      line-height: 1;
}

.pagination_wrap .pagination .tabbar_items .tabbar_item.active {
      border: 1px solid black;
}

.pagination_wrap .pagination .tabbar_items .tabbar_item:hover {
      border: 1px solid black;
}

#select_page_size {
      padding: 7px 9px;
      margin-right: 24px;
      box-sizing: border-box;
      border-radius: 4px;
      transition: all ease 0.3s;
      cursor: pointer;
      background-color: transparent;
      color: black;
      border: 1px solid  rgba(0, 0, 0, 0.05);
      outline: none;
}

#input_page {
      width: 89px;
      padding: 9px 9px;
      margin-left: 24px;
      box-sizing: border-box;
      border-radius: 4px;
      transition: all ease 0.3s;
      cursor: pointer;
      background-color: transparent;
      color: black;
      border: 1px solid  rgba(0, 0, 0, 0.05);
      outline: none;
}

.msg_wrap {
      bottom: 24px;
      right: 24px;
      height: 48px;
      padding: 0 24px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      font-size: 13px;
      line-height: 1;
      z-index: 100;
}

.DandM {
      color: #ddd;
      font-size: 14px;
      margin-top: 5vh;
}

.empty_wrap{
      width: 100%;
      height: calc(100vh - 75px - 72px);
      opacity: 0.15;
}

.empty_wrap span{
      margin-top: 12px;
}