<template id="img_items">
      <div
            class="img_items border_box flex flex_wrap align_start"
            ref="img_items"
            v-if="current_data.length"
      >
            <div
                  :class="['img_item_wrap flex flex_column relative',is_mobile?'mobile':'']"
                  v-for="(item,index) in current_data"
                  :key="index"
                  @click="onImgItem"
            >
                  <button
                        class="img_item"
                        :style="item | getStyles"
                        data-type="img"
                        :data-index="index"
                  >
                  </button>
                  <span
                        class="options w_100 border_box flex justify_center align_center absolute bottom_0"
                        data-type="url"
                        :data-index="index"
                  >{{item}}</span>
            </div>
            <a
                  class="DandM w_100 text_center"
                  href="https://github.com/MatrixAge"
                  target="_blank"
                  rel="noopener noreferrer"
                  v-if="page_size>10&&!search_text&&page!==chunk_data.length"
            >Design and made by Matrixage</a>
      </div>
</template>