.folder_select_wrap {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.folder_select_wrap .folder_select {
  width: 50vw;
  height: 50vw;
  background: white;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.folder_select_wrap .folder_select .btn_close {
  top: 18px;
  right: 18px;
  padding: 1px;
  border-radius: 36px;
  cursor: pointer;
  transition: all ease 0.3s;
  border: 1px solid #eee;
  background-color: white;
}
.folder_select_wrap .folder_select .btn_close svg {
  width: 18px;
  height: 18px;
  opacity: 0.72;
}
