<template id="folder_select">
      <transition name="fade">
            <div
                  class="folder_select_wrap flex justify_center align_center fixed w_100vw h_100vh top_0 left_0 z_index_1000">
                  <div class="folder_select relative">
                        <button class="btn_close border_box flex justify_center align_center absolute">
                              <svg
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 512 512'
                              >
                                    <path
                                          fill='none'
                                          stroke='currentColor'
                                          stroke-linecap='round'
                                          stroke-linejoin='round'
                                          stroke-width='32'
                                          d='M368 368L144 144M368 144L144 368'
                                    />
                              </svg>
                        </button>
                  </div>
            </div>
      </transition>
</template>