<!DOCTYPE html>
<html>

      <head>
            <title>PicPic</title>
      </head>

      <link
            rel="shortcut icon"
            href="./favicon.ico"
      >

      <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
      >

      <style>
            @import './libs/css/atom.min.css';
            @import './styles/init.css';
            @import './styles/index.css';
            @import './styles/mobile.css';
      </style>

      <body>
            <div
                  id="landing_wrap"
                  class="landing_wrap w_100vw h_100vh border_box flex justify_center align_center fixed top_0 left_0 z_index_1000 bg_white transition_normal"
            >
                  <div class="landing fontsize_64">Loading</div>
            </div>
            <div
                  id="app"
                  style="opacity: 0;"
            >
                  <div class="header_wrap_placeholder w_100"></div>
                  <div
                        class="header_wrap w_100 border_box flex justify_center fixed top_0 left_0"
                        :style="header_no_border?'border-bottom:1px solid transparent':''"
                  >
                        <header class="header border_box flex justify_between align_center relative">
                              <div :class="['left_wrap flex align_center',header_no_border?'scrolled':'']">
                                    <img
                                          class="logo"
                                          :src="header_no_border?'./images/logo_picpic_white.png':'./images/logo_picpic_black.png'"
                                          alt="logo"
                                    >
                                    <span class="name">PicPic</span>
                              </div>
                              <transition name="fade">
                                    <div
                                          :class="['search_wrap border_box flex justify_center absolute',header_no_border?'scrolled':'']"
                                          v-show="visible_search"
                                    >
                                          <div class="search flex justify_center align_center flex_column relative">
                                                <input
                                                      class="input"
                                                      type="text"
                                                      placeholder="Search in your images"
                                                      v-model="search_text"
                                                >
                                          </div>
                                    </div>
                              </transition>
                              <div :class="['right_wrap flex align_center',header_no_border?'scrolled':'']">

                                    <div class="options flex align_center">
                                          <button
                                                class="option_item"
                                                @click="onToggleSearch"
                                          >
                                                <svg
                                                      class='icon_search'
                                                      xmlns='http://www.w3.org/2000/svg'
                                                      viewBox='0 0 512 512'
                                                      width="20"
                                                      height="20"
                                                      v-if="!visible_search"
                                                >
                                                      <path
                                                            d='M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z'
                                                            fill='none'
                                                            stroke='currentColor'
                                                            stroke-miterlimit='10'
                                                            stroke-width='32'
                                                      />
                                                      <path
                                                            fill='none'
                                                            stroke='currentColor'
                                                            stroke-linecap='round'
                                                            stroke-miterlimit='10'
                                                            stroke-width='32'
                                                            d='M338.29 338.29L448 448'
                                                      />
                                                </svg>
                                                <svg
                                                      xmlns='http://www.w3.org/2000/svg'
                                                      viewBox='0 0 512 512'
                                                      width="20"
                                                      height="20"
                                                      v-else
                                                >
                                                      <path
                                                            fill='none'
                                                            stroke='currentColor'
                                                            stroke-linecap='round'
                                                            stroke-linejoin='round'
                                                            stroke-width='32'
                                                            d='M368 368L144 144M368 144L144 368'
                                                      />
                                                </svg>
                                          </button>
                                    </div>
                                    <div class="d_line"></div>
                                    <div class="link_items flex">
                                          <a
                                                class="link mr_12 flex"
                                                href="https://github.com/MatrixAge"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                          >
                                                <img
                                                      class="logo_matrixage"
                                                      src="./images/matrixage.png"
                                                      alt="logo"
                                                >
                                          </a>
                                          <a
                                                class="link flex"
                                                href="https://github.com/MatrixAges/picpic"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                          >
                                                <svg
                                                      class="logo_github octicon octicon-mark-github v-align-middle"
                                                      width="20"
                                                      height="20"
                                                      viewBox="0 0 16 16"
                                                      version="1.1"
                                                      aria-hidden="true"
                                                >
                                                      <path
                                                            fill-rule="evenodd"
                                                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                                                      ></path>
                                                </svg>
                                          </a>
                                    </div>
                              </div>
                        </header>
                  </div>
                  <div
                        class="img_items border_box flex flex_wrap align_start"
                        ref="img_items"
                        v-if="current_data.length"
                  >
                        <div
                              class="img_item_wrap flex flex_column relative"
                              v-for="(item,index) in current_data"
                              :key="index"
                              @click="onImgItem"
                        >
                              <button
                                    class="img_item"
                                    :style="item | getStyles"
                                    data-type="img"
                                    :data-index="index"
                              >
                              </button>
                              <span
                                    class="options w_100 border_box flex justify_center align_center absolute bottom_0"
                                    data-type="url"
                                    :data-index="index"
                              >{{item}}</span>
                        </div>
                        <a
                              class="DandM w_100 text_center"
                              href="https://github.com/MatrixAge"
                              target="_blank"
                              rel="noopener noreferrer"
                              v-if="page_size>10&&!search_text&&page!==chunk_data.length"
                        >Design and made by Matrixage</a>
                  </div>
                  <div
                        class="empty_wrap flex flex_column justify_center align_center"
                        v-else
                  >
                        <svg
                              xmlns='http://www.w3.org/2000/svg'
                              viewBox='0 0 512 512'
                              width="72"
                              height="72"
                        >
                              <rect
                                    x='48'
                                    y='80'
                                    width='416'
                                    height='352'
                                    rx='48'
                                    ry='48'
                                    fill='none'
                                    stroke='currentColor'
                                    stroke-linejoin='round'
                                    stroke-width='32'
                              />
                              <circle
                                    cx='336'
                                    cy='176'
                                    r='32'
                                    fill='none'
                                    stroke='currentColor'
                                    stroke-miterlimit='10'
                                    stroke-width='32'
                              />
                              <path
                                    d='M304 335.79l-90.66-90.49a32 32 0 00-43.87-1.3L48 352M224 432l123.34-123.34a32 32 0 0143.11-2L464 368'
                                    fill='none'
                                    stroke='currentColor'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke-width='32'
                              /></svg>
                        <span>There is no images</span>
                  </div>
                  <transition name="fade">
                        <div
                              id="detail_wrap"
                              class="detail_wrap flex justify_center align_center fixed w_100vw h_100vh top_0 left_0 z_index_1000"
                              v-if="current!==-1"
                              @click="onImgItem"
                        >
                              <div :class="'detail relative ' + style">
                                    <div
                                          class="img_item"
                                          :style="current_data[current] | getStyles"
                                    >
                                          <button
                                                class="btn_close border_box flex justify_center align_center absolute">
                                                <svg
                                                      xmlns='http://www.w3.org/2000/svg'
                                                      viewBox='0 0 512 512'
                                                >
                                                      <path
                                                            fill='none'
                                                            stroke='currentColor'
                                                            stroke-linecap='round'
                                                            stroke-linejoin='round'
                                                            stroke-width='32'
                                                            d='M368 368L144 144M368 144L144 368'
                                                      />
                                                </svg>
                                          </button>
                                          <div
                                                class="detail_options style border_box flex justify_center align_center absolute"
                                                @click.stop="onChooseStyle"
                                          >
                                                <button
                                                      :class="style==='contain'?'active':''"
                                                      data-style="contain"
                                                >contain</button>
                                                <button
                                                      :class="style==='cover'?'active':''"
                                                      data-style="cover"
                                                >cover</button>
                                          </div>
                                          <button
                                                :class="['btn_autoplay absolute',autoplay?'playing':'']"
                                                @click.stop="onToggleAutoPlay"
                                          >{{autoplay?'stop play':'autoplay'}}</button>
                                          <div
                                                class="detail_options current border_box flex justify_center align_center absolute"
                                                @click.stop="onChangeCurrent"
                                          >
                                                <button
                                                      :class="Number(current)<=0?'disabled':''"
                                                      data-type="prev"
                                                >prev</button>
                                                <button
                                                      :class="Number(current)+1>=current_data.length?'disabled':''"
                                                      data-type="next"
                                                >next</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </transition>
                  <transition name="up">
                        <div
                              class="pagination_wrap w_100 border_box flex justify_center fixed z_index_100"
                              v-show="visible_nav"
                        >
                              <div class="pagination flex justify_center align_center">
                                    <select
                                          id="select_page_size"
                                          name="page_size"
                                          v-model="page_size"
                                    >
                                          <option
                                                v-for="(item,index) in array_page_size"
                                                :key="index"
                                                :value="item"
                                          >{{item!==99999999?item+' /page':'all'}}</option>
                                    </select>
                                    <button
                                          class="btn_option prev"
                                          @click="onPrev"
                                          :disabled="Number(page)-1<=0"
                                    >prev</button>
                                    <div
                                          class="tabbar_items flex align_center"
                                          @click="onPageItem"
                                    >
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)-4"
                                                v-if="Number(page)-4>0"
                                          >{{Number(page)-4}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)-3"
                                                v-if="Number(page)-3>0"
                                          >{{Number(page)-3}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)-2"
                                                v-if="Number(page)-2>0"
                                          >{{Number(page)-2}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)-1"
                                                v-if="Number(page)-1>0"
                                          >{{Number(page)-1}}</button>
                                          <button
                                                class="tabbar_item active"
                                                :data-page="Number(page)"
                                          >{{Number(page)}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+1"
                                                :disabled="Number(page)+1>chunk_data.length"
                                          >{{Number(page)+1}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+2"
                                                :disabled="Number(page)+2>chunk_data.length"
                                          >{{Number(page)+2}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+3"
                                                :disabled="Number(page)+3>chunk_data.length"
                                          >{{Number(page)+3}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+4"
                                                :disabled="Number(page)+4>chunk_data.length"
                                          >{{Number(page)+4}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+5"
                                                v-if="page<5"
                                                :disabled="Number(page)+5>chunk_data.length"
                                          >{{Number(page)+5}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+6"
                                                v-if="page<4"
                                                :disabled="Number(page)+6>chunk_data.length"
                                          >{{Number(page)+6}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)+7"
                                                v-if="page<3"
                                                :disabled="Number(page)+7>chunk_data.length"
                                          >{{Number(page)+7}}</button>
                                          <button
                                                class="tabbar_item"
                                                :data-page="Number(page)"
                                                v-if="page<2"
                                                :disabled="Number(page)+8>chunk_data.length"
                                          >{{Number(page)+8}}</button>
                                    </div>
                                    <button
                                          class="btn_option next"
                                          @click="onNext"
                                          :disabled="Number(page)+1>chunk_data.length"
                                    >next</button>
                                    <input
                                          id="input_page"
                                          ref="input_page"
                                          type="number"
                                          placeholder="jump to"
                                          @keydown="onEnterPage"
                                    >
                              </div>
                        </div>
                  </transition>
                  <transition name="fade">
                        <div
                              class="msg_wrap fixed flex justify_center align_center"
                              v-if="visible_msg"
                        >
                              <span class="msg">{{msg}}</span>
                        </div>
                  </transition>
            </div>
      </body>

      <script src='./libs/js/vue.min.js'></script>
      <script src='./libs/js/lodash.min.js'></script>
      <script src='./libs/js/clipboard.js'></script>
      <script src='./index.js'> </script>

</html>