:root {
  --size_img: 16vw;
  --size_detail: 50vw;
  --color_bg: #f8f9fd;
  --color_border: #eee;
}
.landing_wrap {
  opacity: 1;
}
.landing_wrap .landing .logo_landing {
  max-width: 18vw;
}
.DandM {
  color: #ddd;
  font-size: 14px;
  margin-top: 5vh;
}
